{% extends 'base.html.twig' %}

{% block main %}
<h2>Détails du {{ wish.title }}</h2>
    <h4>{{ wish.description }}</h4>
    <div>Create by {{ wish.author }} le {{ wish.dateCreated| date('d/m/Y') }}</div>
{% endblock %}

{% block title %}
{{ wish.title }} | {{ parent() }}

{% endblock %}

